<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>View Software</title>
<style>
h1{
text-align:center;
color:blue;
}
td{
	color:#ee82ee;
}
body{
	 background-color: powderblue;
}

</style>
</head>
<body>	
   <div class="container">
		<div class="row" >
			<h1>List of Softwares</h1>
		</div>
		
		<table class="table table-striped table-dark">
			<thead class="table-dark">
				<tr>
					<th>Software Name</th>
						<th>Comapany Name</th>
						<th>Description</th>
						<th>Stock</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="software : ${softwareList} ">
					<td th:text="${software.softwarename}" class="sucess"></td>
					<td th:text="${software.comapnyname}"></td>
				<td th:text="${software.description}"></td>
				<td th:text="${software.stock}"></td>
				<td th:text="${software.price}"></td>
				<td>
					<a th:href ="@{/delete/{id}(id=${software.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>

		</table>
		<div>
			<div class="col-lg-3">
				<a th:href="@{software/createNewSoftware}" class="btn btn-success">Add new
					software</a>
					
			</div>
		</div>
		
	</div>

</body>
</html>